@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: -0.2px;
}

a { text-decoration: none; }

li, summary { list-style: none;}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    font-family: "Work Sans", sans-serif;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* hazır kodlarım */

.full-page {
    width: 100%;
    min-height: 100vh;
    background-color: #F8EEFF;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.background-img {
    background-image: url(../images/background-pattern-desktop.svg);
    width: 100%;
    height: 320px;
    position: absolute;
    top: 0;
}

.main-box {
    width: 600px;
    background-color: #FFF;
    z-index: 1;
    border-radius: 16px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    transition: all .3s;
    box-shadow: 0 32px 56px rgba(80, 0, 118, 0.1);
    gap: 8px;
    > header {
        display: flex;
        gap: 24px;
        > h1 {
            font-size: 56px;
            font-weight: bold;
            color: #301534;
        }
        
    }
}

.faq-element {
    border-bottom: 1px solid #F8EEFF;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    cursor: pointer;
    > header {
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        > h3 {
            color: #301534;
            font-size: 18px;
            font-weight: 600;
            transition: all .2s;
        }
    
        > button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            width: 30px;
            height: 30px;
            padding: 0;
        }
    }
    > main {
        > p {
            color: #8B6990;
            font-size: 16px;
            line-height: 1.5;
        }
    }
}

.faq-element:hover {
    > header {
        > h3 {
            color: #AD28EB;
        }
    }
}

.faq-element:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

@media (width < 670px) {
    
    .main-box {
        width: 327px;
        padding: 24px;
        > header {
            align-items: center;
            gap: 24px;
            > img {
                width: 21px;
                height: 21px;
            }
            > h1 {
                font-size: 32px;
            }
        }
    }

    .faq-element {
        > header {
            > h3 {
                font-size: 16px;
                width: 225px;
            }
        }
        > main {
            > p {
                font-size: 14px;
            }
        }
    }

}